<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<div class="container">
	<h2>Book detail</h2>
	<%= link_to book_path(@book_show.id) do %>
	<%= @book_show.title %>
	<% end %>
	<<%= @book_show.body %>
</div>